<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name=".ModLoaderProvider"
            android:authorities="com.gametree.sultan.pd.modloader"
            android:exported="false" />
        <provider
            android:name=".ModStorageProvider"
            android:authorities="com.gametree.sultan.pd.modstorage"
            android:exported="true"
            android:process=":modstorage" />
    </application>
</manifest>
